[Unit]
Description=Clavis Shell
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStartPre=@CLAVIS_KEY@ version
ExecStart=@CLAVIS_KEY@ shell --no-duplicate
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
